@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force dark mode globally */
html {
  color-scheme: dark;
}

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
}

.hover-glow:hover {
  box-shadow: 0 0 15px #00eaffaa;
  transition: 200ms ease-out;
}

